.DS_Store
._*
**/.DS_Store
**/._*
*~
*.asv
.workspace.mat
COORD-runtime/**
NO-TRACK/**
recordings/*.avi
storage/**/*.json
telemetry/*.csv
tempUML*
visualization/work/cache/**
*.zip
*.avi
*.log
*.mat
*.slx
